<ion-view title="Lit">
  <ion-side-menus enable-menu-with-back-views="true">

    <ion-pane ion-side-menu-content drag-content="true">
      <ion-nav-bar class="bar-dark nav-title-slide-ios7">
        <ion-nav-buttons side="left">
          <a href="#/home" class="button button-icon icon ion-arrow-left-c"></a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button" ng-click="openMenu()">Rate It!</button>
        </ion-nav-buttons>
      </ion-nav-bar>

      <ion-nav-view class="metal-background">
        <div id="myheader" class="bar bar-subheader" ng-class="{ 'stoph': bar.avgRating < 34, 'slowh' : bar.avgRating >= 34 && bar.avgRating < 67, 'goh' : bar.avgRating >=67 }">
          <div class="title">{{bar.Name}}</div>
        </div>

          <ion-content ng-controller="detailCtrl">
           <div style="visible:true; margin-top: 30px; margin-left: 3%" id="map" data-tap-disabled="true" ng-init="initMap()"></div>
            <div style="margin-top: 5px; margin-left: 3%; margin-right: 3%">
              <ion-list class="transparent-background">
                <ion-item class="item-text-wrap">
                  {{barInfo.address}}
                </ion-item>
                <ion-item>
                  {{barInfo.phone}}
                </ion-item>
                <ion-item>
                  {{barInfo.website}}
                </ion-item>
              </ion-list>
            </div>
          </ion-content>

        <div id="myfooter" class="bar bar-footer" ng-class="{ 'stoph': bar.avgRating < 34, 'slowh' : bar.avgRating >= 34 && bar.avgRating < 67, 'goh' : bar.avgRating >=67 }">
          <div class="title">{{bar.Name}}</div>
        </div>
      </ion-nav-view>

    </ion-pane>

    <ion-side-menu side="right">
      <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Is it Lit?</h1>
      </ion-header-bar>

      <ion-content class = "has-header" style="background-color: #000000;">
        <br>
        <br>
        <div align="center">
          <i class="icon ion-record stop larger black-back button-clear" ng-click="rateBar(33)"></i>
        </div>
        <div align="center">
          <i class="icon ion-record slow larger black-back button-clear" ng-click="rateBar(66)"></i>
        </div>
        <div align="center">
          <i class="icon ion-record go larger black-back button-clear" ng-click="rateBar(99)"></i>
        </div>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>


</ion-view>

