<ion-view hide-back-button="true" title="Lit" class="metal-background">
        <ion-content type ="list-inset">
          <h1 align="center" class="light">U Street</h1>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Find your favorite bar...">
              <button class="button button-clear" ng-click="searchBar()">Search</button>
            </label>
          </div>
          <ion-item class="item-divider"></ion-item>
            <ion-item ng-repeat="bar in barList track by bar.objectId" class="item-icon-right" ui-sref="detail({objectId: bar.objectId})">
                <div style="text-transform:capitalize;">
                    {{bar.Name}}
                    <i class="icon ion-ios-flame" ng-class="{ 'stop': bar.avgRating < 34, 'slow' : bar.avgRating >= 34 && bar.avgRating < 67, 'go' : bar.avgRating >=67 }"></i>
                </div>
            </ion-item>
        </ion-content>
</ion-view>
