<ion-view title="Lit" class="metal-background" hide-nav-bar="true">
    <ion-content padding="true" scroll="false">
        <form class="list">
            <ion-list>
              <div align="center">
                <img style="height: 300px" ng-src="{{loginImage}}">
              </div>
                <label class="item item-input transparent-background">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input transparent-background">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/home" class="button button-stable button-block transparent-background">Log in</a>
          <div align="center">
            <a href="#/signup" class="button button-outline button-light">Create an account</a>
          </div>
        </form>
    </ion-content>
</ion-view>
